<% if current_user %>
  <div class="login">
    <li>
      <span>|</span>
      <%= link_to 'Logout', destroy_user_session_path %>
    </li>
  </div>
<% end %>

<div class="socials">
  <span class="contact">Contact us:</span>
  <%= mail_to 'pedro.coutinho@gnomeslab.com', 'pedro.coutinho@gnomeslab.com', :class => 'contact-link email'%>
  <span>|</span>
  <%= link_to 'Twitter', 'http://twitter.com/gnomeslab', :class => 'twitter-link' %>
  <span>|</span>
  <%= link_to 'RSS', blog_url(:rss), :class => 'rss-link' %>
</div>
