				<div class="sidebar-box">
					<h2 class="border">Categories</h2>
					<ul class="fixlast">
					    <li><a href="#">Microsites</a></li>
					    <li><a href="#">Portals</a></li>
					    <li><a href="#">Applications</a></li>
					    <li class="last"><a href="#">Entertainment</a></li>
					</ul>
				</div>