<div id="after-footer">
	<div class="shell">
		<p class="left">
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="services.html">Services</a>
			<a href="projects.html">Projects</a>
			<a href="blog.html">Blog</a>
			<a href="contact.html">Contact</a>
			<a href="templates.html">Templates</a>
		</p>
		<p class="right">&copy; OnFocus. Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a></p>

	</div>
</div>