				<div class="sidebar-box">
					<h2 class="border">Teaser</h2>
					<div class="address-map">
						<img src="../images/map.jpg" alt="" />
					</div>
					<div class="entry">
						<p>Our detail-oriented team has the technical expertise and creativity to turn your web application or product vision into a beautiful and innovative masterpiece of software, that you and your users will love to use.</p>
					</div>
				</div>