<div id="main">
	<div class="cl">&nbsp;</div>
	
	<!-- Content -->
	<div id="content" class="col col1">
    <h2 class="border">About us</h2>
    <div class="entry">
      
      <p>Gnomeslab is different. We don't just develop software. We re passionate about it!</p>
      <p>We believe in great software architecture, incredible user experience, outstanding design, web standards and accessibility. Our detail-oriented team has the technical expertise and creativity to turn your web application or product vision into a beautiful and innovative masterpiece of software, that you and your users will love to use.</p>
      <p>By following the best <i>Agile Software Development</i> practices, Gnomeslab has created an extremely rich and creative work environment where ideas and client involvement are intensely encouraged.</p>
      <p>We truly love what we do. From enterprise class projects to small websites, our professionalism, passion, enthusiasm, vision and creativity are present in everything we create.</p>
      <p>Based on your ideas, vision and <i>strategic goals</i>, we create simple and functional web applications that put the content and the user experience first, making them even better. To help us create this value for your business, we rely on the latest web technologies, such as HTML 5, CSS 3 and Ruby on Rails.</p>
      <p>At Gnomeslab, we take great pride in what we do and realise that the key to success is the close and transparent relationship with our clients, that allows us to fully understand your requirements and business model. </p>
      <br/>
      <h4>How do we do it?</h4>
      <p>It's all about user experience (or simply UX), web standards, accessibility, proven web technologies and agile development.</p>
      <p>Our creative team crafts beautiful web sites, making you feel good about the brand or service and induce you to go with the flow and follow every line, image and link in an engaging way, that just makes you want to <a href="contact.html">contact us</a>.</p>
      <p>Each application Gnomeslab produces puts the content and the user experience first, leading the end-user in every step of the way. Then, when the stage is set, our talented technical pairs turn your ideas and vision into an incredible software masterpiece.</p>
      <p>Iteration over iteration, with you in control, guiding our every move, your web application is nourished and grows at a steady and predictable pace. With each iteration, a release that you can experiment and make sure that it absolutely meets your needs.</p>
      <p>At Gnomeslab the project doesn't end when you sign the last check. Our masterpieces comes with a 12 month support package, and warranty, that ensures us that bugs are not in your way when your web application or product goes live.</p>
      <br/>
      <h4>Have a project?</h4>
      <p><a href="#">Contact us</a>. We would love to hear all about it!</p>
      
    </div>
  </div>
  <!-- End Content -->
  
  <!-- Sidebar -->
  <div id="sidebar" class="col-right col2">
      
      <%= render :partial => 'about_us' %>
      <%= render :partial => 'about_us_text' %>

  </div>
  <!-- End Sidebar -->

      <div class="cl">&nbsp;</div>