				<!-- Posts -->
				<div class="posts">
					
					<!-- Post -->
					<div class="post">
						<h2 class="border">
							<small class="right">Mar 03, 2010 @ 1:07pm</small>
							<a href="blog-detailed.html">Integer dictum nulla tempus</a> 
						</h2>				
						<div class="entry">
							<p>
								<a href="blog-detailed.html" class="alignleft"><img src="../images/post.jpg" alt="" /></a>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
						</div>
						
						<div class="post-meta">
							<div class="cl">&nbsp;</div>
							<div class="left">
								<p><em>Posted in:</em> <a href="blog.html">Cagetory 1</a></p>
								<p><em>Tags:</em> <a href="blog.html">Tag1</a>, <a href="blog.html">Tag2</a>, <a href="blog.html">Tag3</a></p>
							</div>
							<span class="right">
								<a href="blog-detailed.html" class="gray">Comments: 0</a>
							</span>
							<div class="cl">&nbsp;</div>
						</div>
					</div>
					<!-- End Post -->
					
					<!-- Post -->
					<div class="post">
						<h2 class="border">
							<small class="right">Mar 03, 2010 @ 1:07pm</small>
							<a href="blog-detailed.html">Integer dictum nulla tempus</a> 
						</h2>				
						<div class="entry">
							<p>
								<a href="blog-detailed.html" class="alignleft"><img src="../images/post.jpg" alt="" /></a>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
						</div>
						
						<div class="post-meta">
							<div class="cl">&nbsp;</div>
							<div class="left">
								<p><em>Posted in:</em> <a href="blog.html">Cagetory 1</a></p>
								<p><em>Tags:</em> <a href="blog.html">Tag1</a>, <a href="blog.html">Tag2</a>, <a href="blog.html">Tag3</a></p>
							</div>
							<span class="right">
								<a href="blog-detailed.html" class="gray">Comments: 0</a>
							</span>
							<div class="cl">&nbsp;</div>
						</div>
					</div>
					<!-- End Post -->
					
					<!-- Pagging -->
					<div class="pagging">
						1 - 5 of 21 First<span>|</span><a href="#">&lt; Prev</a><span>|</span><a href="#">Next &gt;</a><span>|</span><a href="#">Last</a>
					</div>
					<!-- End Pagging -->
					
				</div>
				<!-- End Posts -->
				
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar" class="col-right col2">
				
				<div class="sidebar-box">
					<h2 class="border">Categories</h2>
					<ul class="fixlast">
					    <li><a href="#">Microsites</a></li>
					    <li><a href="#">Portals</a></li>
					    <li><a href="#">Applications</a></li>
					    <li class="last"><a href="#">Entertainment</a></li>
					</ul>
				</div>
				
				<div class="sidebar-box archives">
					<h2 class="border">Archives</h2>
					<ul>
					    <li class="active">
					    	<a href="#" class="toggle">[ + ]</a> <a href="#">2010</a>
					    	<ul>
					    	    <li><a href="#">January</a> (12)</li>
					    	    <li><a href="#">February</a> (21)</li>
					    	    <li><a href="#">March</a> (5)</li>
					    	</ul>
				    	</li>
					    <li>
					    	<a href="#" class="toggle">[ + ]</a> <a href="#">2009</a>
					    	<ul>
					    	    <li><a href="#">January</a> (12)</li>
					    	    <li><a href="#">February</a> (21)</li>
					    	    <li><a href="#">March</a> (5)</li>
					    	    <li><a href="#">April</a> (5)</li>
					    	    <li><a href="#">May</a> (5)</li>
					    	    <li><a href="#">June</a> (5)</li>
					    	    <li><a href="#">July</a> (5)</li>
					    	    <li><a href="#">August</a> (5)</li>
					    	    <li><a href="#">September</a> (5)</li>
					    	    <li><a href="#">October</a> (5)</li>
					    	    <li><a href="#">November</a> (5)</li>
					    	    <li><a href="#">December</a> (5)</li>
					    	</ul>
				    	</li>
					    <li>
					    	<a href="#" class="toggle">[ + ]</a> <a href="#">2008</a>
					    	<ul>
					    	    <li><a href="#">January</a> (12)</li>
					    	    <li><a href="#">February</a> (21)</li>
					    	    <li><a href="#">March</a> (5)</li>
					    	    <li><a href="#">April</a> (5)</li>
					    	    <li><a href="#">May</a> (5)</li>
					    	    <li><a href="#">June</a> (5)</li>
					    	    <li><a href="#">July</a> (5)</li>
					    	    <li><a href="#">August</a> (5)</li>
					    	    <li><a href="#">September</a> (5)</li>
					    	    <li><a href="#">October</a> (5)</li>
					    	    <li><a href="#">November</a> (5)</li>
					    	    <li><a href="#">December</a> (5)</li>
					    	</ul>
				    	</li>
					</ul>
				</div>
				
				<div class="sidebar-box">
					<h2 class="border">Popular Tags</h2>
					<div class="tag-cloud">
						<a href="#" class="tag-size1">Ut in quam</a>
						<a href="#" class="tag-size2">eu lorem mollis</a>
						<a href="#" class="tag-size5">varius a ut risus</a>
						<a href="#" class="tag-size3">Sed est augue</a>
						<a href="#" class="tag-size4">consectetur nec hendrerit eu</a>
						<a href="#" class="tag-size6">laoreet vel magna</a>
						<a href="#" class="tag-size7">Fusce urna nisi</a>
						<a href="#" class="tag-size2">faucibus eu accumsan et</a>
						<a href="#" class="tag-size1">dictum sed nibh</a>
					</div>
				</div>
				<div class="sidebar-box">
					<h2 class="border">Advertisment</h2>
					<div class="ads">
						<div class="cl">&nbsp;</div>
						<a href="http://mailbakery.com" class="left" title="MailBakery.com - HTML Email Template Coding Service"><img src="../images/bakery-banner.jpg" alt="" /></a>
						<a href="http://htmlmafia.com" title="htmlMafia.com - PSD to HTML in Bulk" target="_blank" class="right"><img src="../images/mafia-banner.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				
				
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>