<!-- Posts -->
<div class="posts justify">
  
  <!-- Post -->
  <div class="post">
    <h2 class="border">
      <small class="right">Mar 03, 2010 @ 1:07pm</small>
      <a href="blog-detailed.html">Integer dictum nulla tempus</a> 
    </h2>       
    <div class="entry">
      <p>
        <a href="blog-detailed.html" class="alignleft"><img src="../images/content/post.jpg" alt="" /></a>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
    </div>
    
    <div class="post-meta">
      <div class="cl">&nbsp;</div>
      <div class="left">
        <p><em>Posted in:</em> <a href="blog.html">Cagetory 1</a></p>
        <p><em>Tags:</em> <a href="blog.html">Tag1</a>, <a href="blog.html">Tag2</a>, <a href="blog.html">Tag3</a></p>
      </div>
      <span class="right">
        <a href="blog-detailed.html" class="gray">Comments: 0</a>
      </span>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <!-- End Post -->
  
  <!-- Post -->
  <div class="post">
    <h2 class="border">
      <small class="right">Mar 03, 2010 @ 1:07pm</small>
      <a href="blog-detailed.html">Integer dictum nulla tempus</a> 
    </h2>       
    <div class="entry">
      <p>
        <a href="blog-detailed.html" class="alignleft"><img src="../images/content/post.jpg" alt="" /></a>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
    </div>
    
    <div class="post-meta">
      <div class="cl">&nbsp;</div>
      <div class="left">
        <p><em>Posted in:</em> <a href="blog.html">Cagetory 1</a></p>
        <p><em>Tags:</em> <a href="blog.html">Tag1</a>, <a href="blog.html">Tag2</a>, <a href="blog.html">Tag3</a></p>
      </div>
      <span class="right">
        <a href="blog-detailed.html" class="gray">Comments: 0</a>
      </span>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <!-- End Post -->
  
  <!-- Pagging -->
  <div class="pagging">
    1 - 5 of 21 First<span>|</span><a href="#">&lt; Prev</a><span>|</span><a href="#">Next &gt;</a><span>|</span><a href="#">Last</a>
  </div>
  <!-- End Pagging -->
  
</div>
<!-- End Posts -->

<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/blog_categories' %>
  <%= render :partial => 'shared/content_box/archives' %>
  <%= render :partial => 'shared/content_box/popular_tags' %>
<% end %>