<%= render :partial => 'rotator' %>
				<h2 class="border">Who are we?</h2>
				<div class="entry">
					<p>
						<img src="../images/image1.jpg" class="alignright" alt="" />
						Gnomeslab is different. We don't just develop software. We re passionate about it! We believe in great software architecture, incredible user experience, outstanding design, web standards and accessibility. Our detail-oriented team has the technical expertise and creativity to turn your web application or product vision into a beautiful and innovative masterpiece of software, that you and your users will love to use.
						<br /><a href="about.html" class="more">more</a>
					</p>
					
				</div>
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar" class="col-right col2">
				<h2 class="border">Our Culture</h2>
				<div class="entry">
					<p>
						<img src="../images/image3.jpg" class="alignright" alt="" />
						We believe in delivering software that meets the needs of our clients. It's estimated that 90% of the software projects fail. Sometimes because the developers don't know what to do or how...
						<br /><a href="about.html" class="more">more</a>
					</p>
				</div>
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>
			
			<!-- Cols -->
			<div class="cols">
				<div class="cl">&nbsp;</div>
				
				<!-- Col -->
				<div class="col col2">
					<h2 class="border">What We Do?</h2>
					<div class="entry">
						<p>
							<img src="../images/image2.jpg" class="alignright" alt="" />
							We develop websites, applications and services. Our field of expertise goes from major corporate applications to simple websites like this one. No job is too big, no client is too small, if it needs coding, we're on it.
							<br /><a href="about.html" class="more">more</a></p>
							
					</div>
				</div>
				<!-- End Col -->
				
				<!-- Col -->
				<div class="col col2">
					<h2 class="border">Meet the team</h2>
					<div class="entry">
						<p>
							<img src="../images/image3.jpg" class="alignright" alt="" />
							Seriously, you DONT wanna meet the team. They are homicidal maniacs, they have been known to murder other developers for not commenting their code. Most of them have roots in the Sicilian Mafia. Other noone really knows who they are..... Be affraid, be very affraid!!!
							<br /><a href="about.html" class="more">more</a></p>
					</div>
				</div>
				<!-- End Col -->
				
				<!-- Col -->
				<div class="col-right col2">
					<h2 class="border">Featured Project</h2>
					<div class="entry">
						<p><a href="project-detailed.html"><img src="../images/project.jpg" alt="" /></a></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna.
						<br /><a href="projects.html" class="more">more</a></p>
					</div>
				</div>
				<!-- End Col -->
				
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Cols -->
