				<h2 class="border">Projects</h2>
				
				<!-- Items -->
				<div class="items items-images">
					<ul>
					    <li>
					    	<div class="cl">&nbsp;</div>
					    	<div class="item-image">
					    		<a href="project-detailed.html" class="aimg"><img src="../images/project1.jpg" alt="" /></a>
					    	</div>
					    	<div class="item-info">
					    		<small><a href="projects.html">Gnomeslab</a> / July, 1 2010</small>
					    		<h3><a href="project-detailed.html">OAuth</a></h3>
					    		<p>Lorem ipsum dolor sit amet, consectetur adi neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. elit.</p>
					    		<p class="view"><a href="project-detailed.html">View case study</a></p>
					    	</div>
					    	<div class="cl">&nbsp;</div>
					    </li>
					    
					    <li>
					    	<div class="cl">&nbsp;</div>
					    	<div class="item-image">
					    		<a href="project-detailed.html" class="aimg"><img src="../images/project2.jpg" alt="" /></a>
					    	</div>
					    	<div class="item-info">
					    		<small><a href="projects.html">Gnomeslab</a> / July 15, 2009</small>
					    		<h3><a href="project-detailed.html">Miniplace</a></h3>
					    		<p>Lorem ipsum dolor sit amet, consectetur adi neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. elit.</p>
					    		<p class="view"><a href="project-detailed.html">View case study</a></p>
					    	</div>
					    	<div class="cl">&nbsp;</div>
					    </li>
					    
					    <li>
					    	<div class="cl">&nbsp;</div>
					    	<div class="item-image">
					    		<a href="project-detailed.html" class="aimg"><img src="../images/project3.jpg" alt="" /></a>
					    	</div>
					    	<div class="item-info">
					    		<small><a href="projects.html">Microsites</a> / December 16, 2009</small>
					    		<h3><a href="project-detailed.html">Project Title</a></h3>
					    		<p>Lorem ipsum dolor sit amet, consectetur adi neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. elit.</p>
					    		<p class="view"><a href="project-detailed.html">View case study</a></p>
					    	</div>
					    	<div class="cl">&nbsp;</div>
					    </li>
					    
					    <li>
					    	<div class="cl">&nbsp;</div>
					    	<div class="item-image">
					    		<a href="project-detailed.html" class="aimg"><img src="../images/project4.jpg" alt="" /></a>
					    	</div>
					    	<div class="item-info">
					    		<small><a href="projects.html">Microsites</a> / December 16, 2009</small>
					    		<h3><a href="project-detailed.html">Project Title</a></h3>
					    		<p>Lorem ipsum dolor sit amet, consectetur adi neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. elit.</p>
					    		<p class="view"><a href="project-detailed.html">View case study</a></p>
					    	</div>
					    	<div class="cl">&nbsp;</div>
					    </li>
					    
					    <li>
					    	<div class="cl">&nbsp;</div>
					    	<div class="item-image">
					    		<a href="project-detailed.html" class="aimg"><img src="../images/project2.jpg" alt="" /></a>
					    	</div>
					    	<div class="item-info">
					    		<small><a href="projects.html">Microsites</a> / December 16, 2009</small>
					    		<h3><a href="project-detailed.html">Project Title</a></h3>
					    		<p>Lorem ipsum dolor sit amet, consectetur adi neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. elit.</p>
					    		<p class="view"><a href="project-detailed.html">View case study</a></p>
					    	</div>
					    	<div class="cl">&nbsp;</div>
					    </li>
					</ul>
				</div>
				<!-- End Items -->
				
				<!-- Pagging -->
				<div class="pagging">
					1 - 5 of 21 First<span>|</span><a href="#">&lt; Prev</a><span>|</span><a href="#">Next &gt;</a><span>|</span><a href="#">Last</a>
				</div>
				<!-- End Pagging -->
				
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar" class="col-right col2">
			  
<%= render :partial => 'project_categories' %>

<%= render :partial => 'project_text' %>

<%= render :partial => 'advertisement' %>

			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>
			
		</div>