				<h2 class="border">
					<small class="right"><a href="projects.html">Microsites</a> / December 16, 2009</small>
					Project name
				</h2>
				
				<!-- Project Slider -->
				<div class="project-slider">
					<div class="project-slider-holder">
						<ul>
						    <li><a href="#"><img src="../images/project-big.jpg" alt="" /></a></li>
						    <li><a href="#"><img src="../images/project-big.jpg" alt="" /></a></li>
						    <li><a href="#"><img src="../images/project-big.jpg" alt="" /></a></li>
						    <li><a href="#"><img src="../images/project-big.jpg" alt="" /></a></li>
						    <li><a href="#"><img src="../images/project-big.jpg" alt="" /></a></li>
						</ul>
					</div>
					<div class="slider-nav">
						<a href="#" class="prev">previous</a>
						<a href="#" class="next">next</a>
					</div>
				</div>
				<!-- End Project Slider -->
				
				<!-- Project Info -->
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum arcu, ultrices a gravida et, scelerisque vitae libero. Praesent id justo leo. Ut non metus non libero varius rutrum eu eget felis. Sed et est vitae orci imperdiet imperdiet.</p>
					
					<p>Pellentesque tincidunt libero vitae mi porttitor ut congue sapien luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eu sem massa. Fusce vel risus leo. Nulla ut purus nulla, at ultrices nulla.</p>
					
					<p>Cras sodales facilisis accumsan. Nulla facilisi. Pellentesque ut eros a lectus convallis dictum. Donec cursus facilisis est ut sagittis. Nullam et lorem odio. Mauris quis lectus nec libero accumsan eleifend sed ut est. Sed nec vestibulum tortor. </p>
					
					<p class="nav"><a href="projects.html">Back to the List</a><span>|</span><a href="http://chocotemplates.com">Launch the Site</a></p>
				</div>
				<!-- End Project Info -->
				
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar" class="col-right col2">
				
				<div class="sidebar-box">
					<h2 class="border">Categories</h2>
					<ul class="fixlast">
					    <li><a href="#">Microsites</a></li>
					    <li><a href="#">Portals</a></li>
					    <li><a href="#">Applications</a></li>
					    <li class="last"><a href="#">Entertainment</a></li>
					</ul>
				</div>
				<div class="sidebar-box">
					<h2 class="border">Some Text</h2>
					<div class="entry">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut  consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna.
							<br /><a href="#" class="more">more</a>	</p>
					</div>
				</div>
				<div class="sidebar-box">
					<h2 class="border">Advertisment</h2>
					<div class="ads">
						<div class="cl">&nbsp;</div>
						<a href="http://mailbakery.com" class="left" title="MailBakery.com - HTML Email Template Coding Service"><img src="../images/bakery-banner.jpg" alt="" /></a>
						<a href="http://htmlmafia.com" title="htmlMafia.com - PSD to HTML in Bulk" target="_blank" class="right"><img src="../images/mafia-banner.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				
				
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>