<h2 class="border">Services</h2>

<!-- Services -->
<div class="items justify">
  <ul>
      <li>
        <h3><a href="service-detailed.html">Websites</a></h3>
      <p>Your website might be everything a customer needs to see to chose you over your competitors. Causing a first impression with a visually appealing website is good, but its even better if the website is also dynamic and interactive. Gnomeslab website solutions provide you with the edge you need to make your website stand out. Trough the use of powerful development tools and workflow methods, all you need is to share your thoughts and expectations and we will make them true. Our development team has a vast experience range, from corporate website development to small sized personal interactive pages, so if you've got something on your mind, tell us all about it. Success can be achieved, you just need to take the first step.
        
        
<!-- introduçao à importancia de um bom website. o que nos fazemos. alvo do que nos fazemos. alusao aos custos e forma de contabilizar os custos. -->
        <br /><a href="service-detailed.html" class="more">more</a></p>
  
      </li>
      <li>
        <h3><a href="service-detailed.html">Web Applications</a></h3>
      <p>With internet speeds and stability improving every year, applications no longer need to be cryptic executable files that cause high maintenance and reduced scalability on your company's infrastructure. Same features can be achieved trough web applications that are accessible in any computer, on any platform, from any browser. At Gnomeslab, we provide you with fully personalized web applications, developed with state-of-the-art technologies, that will deliver not only your features, but also a fantastic user experience, potencially increasing staff performance and reducing the costs of formation.
        
        
<!-- introduçao ao que é uma web application e evoluçao do mercado nesse sentido. que fazemos. publico alvo do que fazemos. custos --> <br /><a href="service-detailed.html" class="more">more</a></p>
  
      </li>
      <li>
        <h3><a href="service-detailed.html">Web Services?</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.<br /><a href="service-detailed.html" class="more">more</a></p>
  
      </li>
  </ul>

</div>
<!-- End Services -->

<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/our_services' %>
  <%= render :partial => 'shared/content_box/services_text' %>
  <%= render :partial => 'shared/content_box/advertisement' %>
<% end %>