				<h2 class="border">Services Name</h2>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.</p>
				</div>
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar" class="col-right col2">
				<div class="sidebar-box">
					<h2 class="border">Our Services</h2>
					<ul class="fixlast">
					    <li><a href="#">Consectetur adipiscing</a></li>
					    <li><a href="#">Integer dictum</a></li>
					    <li><a href="#">Neque ut consectetur</a></li>
					    <li class="last"><a href="#">Mauris tortor</a></li>
					</ul>
				</div>
				<div class="sidebar-box">
					<h2 class="border">Some Text</h2>
					<div class="entry">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut  consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna.
							<br /><a href="#" class="more">more</a>	</p>
					</div>
				</div>
				<div class="sidebar-box">
					<h2 class="border">Advertisment</h2>
					<div class="ads">
						<div class="cl">&nbsp;</div>
						<a href="http://mailbakery.com" class="left" title="MailBakery.com - HTML Email Template Coding Service"><img src="../images/bakery-banner.jpg" alt="" /></a>
						<a href="http://htmlmafia.com" title="htmlMafia.com - PSD to HTML in Bulk" target="_blank" class="right"><img src="../images/mafia-banner.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>