    <div id="main">
    	<div class="cl">&nbsp;</div>
	
    	<!-- Content -->
    	<div id="content" class="col col1">
				<h2 class="border">Services</h2>
				
				<!-- Services -->
				<div class="items">
					<ul>
					    <li>
					    	<h3><a href="service-detailed.html">Service name</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.<br /><a href="service-detailed.html" class="more">more</a></p>
					
					    </li>
					    <li>
					    	<h3><a href="service-detailed.html">Service name</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.<br /><a href="service-detailed.html" class="more">more</a></p>
					
					    </li>
					    <li>
					    	<h3><a href="service-detailed.html">Service name</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper.<br /><a href="service-detailed.html" class="more">more</a></p>
					
					    </li>
					</ul>
				
				</div>
				<!-- End Services -->
				
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar" class="col-right col2">

<%= render :partial => 'our_services' %>

<%= render :partial => 'services_text' %>

<%= render :partial => 'advertisement' %>

			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>