<div class="sidebar-box">
  <h2 class="border">Advertisment</h2>
  <div class="ads">
    <div class="cl">&nbsp;</div>
    <a href="http://mailbakery.com" class="left" title="MailBakery.com - HTML Email Template Coding Service"><img src="../images/content/bakery-banner.jpg" alt="" /></a>
    <a href="http://htmlmafia.com" title="htmlMafia.com - PSD to HTML in Bulk" target="_blank" class="right"><img src="../images/content/mafia-banner.jpg" alt="" /></a>
    <div class="cl">&nbsp;</div>
  </div>
</div>