<div id="archives" class="sidebar-box archives">
  <h2 class="border">Archives</h2>
  <ul>
      <li class="active">
        <a href="#" class="toggle">[ + ]</a> <a href="#">2010</a>
        <ul>
            <li><a href="#">January</a> (12)</li>
            <li><a href="#">February</a> (21)</li>
            <li><a href="#">March</a> (5)</li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle">[ + ]</a> <a href="#">2009</a>
        <ul>
            <li><a href="#">January</a> (12)</li>
            <li><a href="#">February</a> (21)</li>
            <li><a href="#">March</a> (5)</li>
            <li><a href="#">April</a> (5)</li>
            <li><a href="#">May</a> (5)</li>
            <li><a href="#">June</a> (5)</li>
            <li><a href="#">July</a> (5)</li>
            <li><a href="#">August</a> (5)</li>
            <li><a href="#">September</a> (5)</li>
            <li><a href="#">October</a> (5)</li>
            <li><a href="#">November</a> (5)</li>
            <li><a href="#">December</a> (5)</li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle">[ + ]</a> <a href="#">2008</a>
        <ul>
            <li><a href="#">January</a> (12)</li>
            <li><a href="#">February</a> (21)</li>
            <li><a href="#">March</a> (5)</li>
            <li><a href="#">April</a> (5)</li>
            <li><a href="#">May</a> (5)</li>
            <li><a href="#">June</a> (5)</li>
            <li><a href="#">July</a> (5)</li>
            <li><a href="#">August</a> (5)</li>
            <li><a href="#">September</a> (5)</li>
            <li><a href="#">October</a> (5)</li>
            <li><a href="#">November</a> (5)</li>
            <li><a href="#">December</a> (5)</li>
        </ul>
      </li>
  </ul>
</div>