<!-- Col -->
<div class="col-right col2">
  <h2 class="border">Featured Project</h2>
  <div class="entry">
    <p><a href="project-detailed.html"><img src="../images/content/project.jpg" alt="" /></a></p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, 
      nulla tellus tempus magna.
      <br /><a href="projects.html" class="more">more</a>
    </p>
  </div>
</div>
<!-- End Col -->