<!-- Col -->
<div class="col-right col2">
  <h2 class="border">Featured project</h2>
  <div class="entry justify">
    <h5>Product :: miniPlace.com</h5>
    <p>
      Gnomeslab flagship product that provides designers with the ability to reach their target market. At the 
      same time, miniPlace allows the customers not only to list projects in an auction inspired mechanism, but also 
      allows them to browse the available designer portfolios, check their expertise and even request their 
      consulting services. <%= link_to 'read more', projects_path %>
    </p>
  </div>
</div>
<!-- End Col -->