<div class="sidebar-box">
  <h2 class="border">Our profile</h2>
  <ul class="fixlast">
    <li class='arrow'>Friendly and very approachable</li>
    <li class='arrow'>Standards and User Experience</li>
    <li class='arrow'>Agile Development practitioners</li>
    <li class='arrow'>We use Ruby on Rails and other agile tools</li>
    <li class='arrow'>We respond to you, not investors</li>
  </ul>
</div>