<% cache('popular_tags', :expires_in => 10.minutes) do %>
  <div class="sidebar-box">
    <h2 class="border">Popular Tags</h2>
    <%= content_tag :div, draw_tag_cloud, :class => 'tag-cloud' %>
  </div>
<% end %>
