<div id="recent_posts" class="sidebar-box">
  <h2 class="border">Recent Comments</h2>
  <div class="entry">
    <p>There are no comments :(</p>
    <p>Perhaps you can check our <%= link_to 'Twitter', 'http://twitter.com/gnomeslab' %>!</p>
  </div>
</div>