<div class="sidebar-box">
  <h2 class="border">Related Posts</h2>
  <div class="entry">
    <p>There are no related posts, your life is a
      LIE!!!
      <br /><a href="#" class="more">click here just for lols</a>
    </p>
  </div>
</div>