<div class="sidebar-box">
  <h2 class="border">Sidebar Widget</h2>
  <div class="entry">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut  consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna.
      <br /><a href="#" class="more">more</a> </p>
  </div>
</div>