<div class="sidebar-box">
  <h2 class="border">We're social!</h2>
  <ul class="fixlast">
    <li><a hred="http://facebook.com/">Visit our Facebook group</a></li>
    <li><a hred="http://twitter.com/gnomeslab">Follow Gnomeslab on Twitter</a></li>
  </ul>
</div>