<div class="sidebar-box">
  <h2 class="border">Our profile</h2>
  <ul class="fixlast">
    <li>Friendly and very approachable</li>
    <li>Standards and User Experience</li>
    <li>Agile Development practitioners</li>
    <li>We use Ruby on Rails and other agile tools</li>
    <li>We respond to you, not investors</li>
  </ul>
</div>

<!--<p>Our detail-oriented team has the technical expertise and creativity to turn your web application or product vision into a beautiful and innovative masterpiece of software, that you and your users will love to use.</p>-->