<div class="cols">
  <div class="cl">&nbsp;</div>

  <!-- Col -->
  <div class="col col2">
    <h2 class="border">What we do</h2>
    <div class="entry justify">
      <p>
        Gnomeslab positions itself as a specialist in providing both services and solutions based on Ruby 
        technologies (e.g. Ruby on Rails, Sinatra, Rack), targeted at different kinds of organizations, 
        both private and public.
        We are mainly oriented towards the development of web facing applications, services and products. 
        <%= link_to "more", services_path %>
      </p>
    </div>
  </div>
  <!-- End Col -->

  <!-- Col -->
  <div class="col col2">
    <h2 class="border">Meet the team</h2>
    <div class="entry justify">
      <p>
        We have a young and dynamic team of IT professionals, whose skills range from <i>Project Management</i>, 
        through <i>Product Development</i> to <i>Agile Software Development</i>.
      </p>
      <p>
        At Gnomeslab we value continuous learning and creative professionals that are able to solve complex 
        business problems with elegance and proficiency. <%= link_to "more", "#{about_us_path}#team" %>
      </p>
    </div>
  </div>
  <!-- End Col -->

  <div class="col-right col2">
    <h2 class="border">Where are we?</h2>
    <div class="entry justify">
      <p>
        Gnomeslab is based in Lisbon, Portugal, the largest westernmost city in Europe. It lies in the western Iberian Peninsula on the Atlantic Ocean and the Tagus River.
      </p>
      <p>
        In the Internet you can also find us at:
        <ul class="fixlast">
          <li><a hred="http://facebook.com/">Facebook</a></li>
          <li><a hred="http://twitter.com/gnomeslab">Twitter</a></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="cl">&nbsp;</div>
</div>