<div class="cols">
  <div class="cl">&nbsp;</div>

  <!-- Col -->
  <div class="col col2">
    <h2 class="border">What We Do?</h2>
    <div class="entry justify">
      <p>
        We develop websites, applications and services. Our field of expertise goes from major corporate 
        applications to simple websites like this one. No job is too big, no client is too small, 
        if it needs coding, we're on it.
        <br /><a href="about.html" class="more">more</a>
      </p>
    </div>
  </div>
  <!-- End Col -->

  <!-- Col -->
  <div class="col col2">
    <h2 class="border">Meet the team</h2>
    <div class="entry justify">
      <p>
        Seriously, you DONT wanna meet the team. They are homicidal maniacs, they have been known to 
        murder other developers for not commenting their code. Most of them have roots in the Sicilian Mafia. 
        Other noone really knows who they are..... Be affraid, be very affraid!!!
        <br /><a href="about.html" class="more">more</a>
      </p>
    </div>
  </div>
  <!-- End Col -->

  <%= render 'shared/content_box/featured_project' %>

  <div class="cl">&nbsp;</div>
</div>