<div class="sidebar-box categories">
  <h2 class="border">Categories</h2>
  <% if @categories.present? %>
  <ul class="fixlast">
    <% @categories.each_with_index do |c, i| %>
      <%= content_tag :li, link_to(c.name, c), :class => (i == @categories.count-1 ? 'last' : nil)%>
    <% end %>
  </ul>
  <% end %>
</div>