<div class="sidebar-box">
  <h2 class="border">Contact Teaser for Projects</h2>
  <div class="entry">
    <p>Some contact teaser text should go here to
    incentive ppl to contact us.
      <br /><a href="#" class="more">more</a> </p>
  </div>
</div>