<!-- Project Rotator -->
<% if @project.previews.present? %>

<div class="project-slider">
  <div class="project-slider-holder">
    <ul>
      <% for project in @project.previews %>
        <%= content_tag :li, image_tag(project.url, :alt => project.title) %>
      <% end %>
    </ul>
  </div>
  <div class="slider-nav">
    <a href="#" class="prev">previous</a>
    <a href="#" class="next">next</a>
  </div>
</div>

<% end %>
<!-- End Project Rotator -->