<div class="col col3">
  <h5>Latest posts</h5>
  <ul class="fixlast gray-links">
    <% if Post.recent %>
      <% for post in posts = Post.recent %>
        <%= content_tag :li, link_to(post.title, post_path(post)), :class => post == posts.last ? 'last' : '' %>
      <% end %>
    <% else %>
      <li>There are no posts :(</li>
      <li class="last">Perhaps you can check our <%= link_to 'Twitter', 'http://twitter.com/gnomeslab' %>!</li>
    <% end %>
  </ul>
</div>