<div class="col-right col3">
  <h5>Contact Us</h5>
  <ul class="fixlast">
    <li class="last">
      <p>We can help you with that! Gnomeslab has a young, creative and dynamic team that goes way beyond technical 
      expertise. Over the years we have mastered the art of listening to our clients and understanding their 
      business models and strategic goals.
      </p>
      <p>
        Tell us all about your project. <%= link_to 'Contact us', contact_path %> today!
      </p>
    </li>
  </ul>
</div>
