<div id="footer">
  <div class="shell cols">
    <div class="cl">&nbsp;</div>

    <!-- Col -->
    <div class="col col3">
      <h5>About</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam libero nec nisl tincidunt faucibus.
         Aliquam erat volutpat.
      </p>
      <p>
        Ut in quam eu lorem mollis varius a ut risus. Sed est augue, consectetur nec hendrerit eu, 
        laoreet vel magna. Fusce urna nisi, faucibus eu accumsan et, dictum sed nibh.
      </p>
    </div>
    <!-- End Cols -->

    <!-- Col -->
    <div class="col col3">
      <h5>Blogroll</h5>
      <ul class="fixlast gray-links">
        <li><a href="blog-detailed.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        <li><a href="blog-detailed.html">Ut in quam eu lorem mollis varius a ut risus</a></li>
        <li><a href="blog-detailed.html">
          Duis aliquam libero nec nisl tincidunt faucibus. Aliquam erat volutpat.
        </a></li>
        <li class="last"><a href="blog-detailed.html">
          Fusce urna nisi, faucibus eu accumsan et, dictum sed nibh.
        </a></li>
      </ul>
    </div>
    <!-- End Cols -->

    <!-- Col tag cloud-->
    
    <%= render '/shared/footer/cloud_tags' %>
 
    <!-- End Col tag cloud -->

    <!-- Col -->
    <div class="col-right col3">
      <h5>Latest Tweets</h5>
      <ul class="fixlast">
        <li>
          <span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
          <a href="http://chocotemplates.com">chocotemplates.com</a>
          <small>about 15 hours ago</small>
        </li>
        <li>
          <span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
          <a href="http://chocotemplates.com">chocotemplates.com</a>
          <small>about 15 hours ago</small>
        </li>
        <li class="last">
          <span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
          <a href="http://chocotemplates.com">chocotemplates.com</a>
          <small>about 15 hours ago</small>
        </li>
      </ul>
    </div>
    <!-- End Cols -->

    <div class="cl">&nbsp;</div>
  </div>
</div>