<div id="footer">
  <div class="shell cols">
    <div class="cl">&nbsp;</div>

    <!-- About -->
    <%= render '/shared/footer/about'%>
    <!-- End About -->

    <!-- Latest post -->
    <%= render '/shared/footer/latest_posts'%>
    <!-- End Latest post -->

    <!-- Tag cloud-->
    <%= render '/shared/footer/tag_cloud' %>
    <!-- End Tag cloud -->

    <!-- Latest tweets -->
    <%= render 'shared/footer/latest_tweets' %>
    <!-- Col Latest tweets -->

    <div class="cl">&nbsp;</div>
  </div>
</div>