<div class="col col3">
  <h5>Latest Tweets</h5>
  <ul class="fixlast">
    <li>
      <span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
      <a href="http://chocotemplates.com">chocotemplates.com</a>
      <small>about 15 hours ago</small>
    </li>
    <li>
      <span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
      <a href="http://chocotemplates.com">chocotemplates.com</a>
      <small>about 15 hours ago</small>
    </li>
    <li class="last">
      <span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
      <a href="http://chocotemplates.com">chocotemplates.com</a>
      <small>about 15 hours ago</small>
    </li>
  </ul>
</div>