<% cache('latest_tweets', :expires_in => 10.minutes) do %>
  <div class="col-right col3">
    <h5>Latest Tweets</h5>
    <ul class="fixlast">
    <% if tweets = TwitterProxy.instance.get_tweets %>
      <% for tweet in tweets %>

        <%= content_tag :li, :class => tweet == tweets.last ? 'last' : '' do %>
          <%= content_tag :p, tweet.text %>
          <%= link_to I18n.l(Time.parse(tweet.created_at), :format => :long), tweet_path(tweet.id) %>
        <% end %>

      <% end %>
    <% else %>
      <li> Oops we are unable to retrieve our tweets! </li>
    <% end %>
    </ul>
  </div>
<% end %>