<div id="after-footer">
  <div class="shell">
    <p class="left">
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_us_path %>
      <a href="about.html">About</a>
      <a href="services.html">Services</a>
      <a href="projects.html">Projects</a>
      <a href="blog.html">Blog</a>
      <%= link_to 'Contact', contact_path %>
      <a href="templates.html">Templates</a>
    </p>
    <p class="right">
      &copy; OnFocus. Design by 
      <a href="http://chocotemplates.com" target="_blank"
         title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
    </p>
  </div>
</div>