<% title 'Edit Post', true %>

<%= content_title 'Edit Post' %>
<!-- Post Form -->
<div class="form floated-form">
  <%= render 'posts/form'%>
</div>
<!-- End Post Form -->

<%= content_for :sidebar do %>
  <%= render 'shared/content_box/our_profile' %>
<% end %>