<div class="sidebar-box">
  <h2 class="border">Have an idea a project or a problem?</h2>
  <div class="entry justify">
    <p>
      We can help you with that! Gnomeslab has young, creative and dynamic team that goes way beyond technical 
      expertise. Over the years we have mastered the art of listening to our clients and understanding their 
      business models and strategic goals.
    </p>
    <p>
      Tell us all about your project. <%= link_to 'Contact us', contact_path %> today!
    </p>
  </div>
</div>