<h2 class="border">Services</h2>

<!-- Services -->
<div class="items justify">
  <ul>
      <li>
        <h3><a href="service-detailed.html">Web development</a></h3>
      <p>Some text here.
        <br /><a href="service-detailed.html" class="more">more</a></p>
        
      </li>
      <li>
        <h3><a href="service-detailed.html">Product development</a></h3>
      <p>Some text here
        <br /><a href="service-detailed.html" class="more">more</a></p>
        
      </li>
      <li>
        <h3><a href="service-detailed.html">Consulting</a></h3>
      <p>Some text here
        <br /><a href="service-detailed.html" class="more">more</a></p>
        
      </li>
  </ul>

</div>
<!-- End Services -->
<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/featured_project' %>
  <%= render :partial => 'static_pages/services/services_contact_teaser' %>
<% end %>