<h2 class="border">Services</h2>

<!-- Services -->
<div class="entry justify">
  <p>hello world</p>
</div>

<!-- End Services -->
<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/featured_project' %>
  <%= render :partial => 'static_pages/services/services_contact_teaser' %>
<% end %>