<!-- Slider -->
<div id="slider">

  <div id="slider-holder">
    <ul>
      <% rotator_statements.each_with_index do |statement, i| %>
        <li>
          <%= content_tag :h2, statement %>
          <%= link_to image_tag("content/rotator/#{i+1}.jpg"), about_us_path %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="slider-controls">
    <% rotator_statements.each_index do |i| %>
      <%= link_to i+1, '#' %>
    <% end %>
  </div>

  <div class="slider-nav">
    <a href="#" class="prev">previous</a>
    <a href="#" class="next">next</a>
  </div>
</div>
<!-- End Slider -->