<!-- Slider -->
<div id="slider">
  <div id="slider-holder">
    <ul>
      <li>
        <h2>We bring your ideas to life</h2>
        <a href="#"><img src="../images/content/rotator/1.jpg" alt="" /></a>
      </li>
      <li>
        <h2>Using effective processes</h2>
        <a href="#"><img src="../images/content/rotator/2.jpg" alt="" /></a>
      </li>
      <li>
        <h2>Centered on our clients</h2>
        <a href="#"><img src="../images/content/rotator/3.jpg" alt="" /></a>
      </li>
      <li>
        <h2>Adding value to your business</h2>
        <a href="#"><img src="../images/content/rotator/4.jpg" alt="" /></a>
      </li>
    </ul>
  </div>
  <div class="slider-controls">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
  </div>
  <div class="slider-nav">
    <a href="#" class="prev">previous</a>
    <a href="#" class="next">next</a>
  </div>
</div>
<!-- End Slider -->