<!-- Slider -->
<div id="slider">
  <div id="slider-holder">
    <ul>
      <li><a href="#"><img src="../images/content/slide1.jpg" alt="" /></a></li>
      <li><a href="#"><img src="../images/content/slide1.jpg" alt="" /></a></li>
      <li><a href="#"><img src="../images/content/slide1.jpg" alt="" /></a></li>
      <li><a href="#"><img src="../images/content/slide1.jpg" alt="" /></a></li>
      <li><a href="#"><img src="../images/content/slide1.jpg" alt="" /></a></li>
    </ul>
  </div>
  <div class="slider-controls">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  </div>
  <div class="slider-nav">
    <a href="#" class="prev">previous</a>
    <a href="#" class="next">next</a>
  </div>
</div>
<!-- End Slider -->