<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Gbnomeslab :: home</title>
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="all" />
	
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<!-- JS -->
	<script src="../javascripts/jquery-1.4.1.min.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.jcarousel.pack.js" type="text/javascript"></script>
	<script src="../javascripts/jquery-func.js" type="text/javascript"></script>
	<!-- End JS -->		
</head>
<body>

<!-- Header -->
<div id="header">
	<div class="shell">

		<!-- Socials -->
		<div class="socials">
			<a href="#" class="rss-link">RSS</a>
			<span>|</span>
			<a href="#" class="facebook-link">Facebook</a>
			<span>|</span>
			<a href="#" class="twitter-link">Twitter</a>
		</div>
		<!-- End Socials -->
		
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Logo + Navigation -->
		<div id="head">
			<h1 id="logo"><a href="index.html">OnFocus</a></h1>
			<div id="navigation">
				<ul>
				    <li><a href="index.html" class="active">Home</a></li>
				    <li><a href="about.html">About</a></li>
				    <li>
				    	<a href="services.html">Services</a>
				    	<div class="dd">
				    		<ul>
				    		    <li>
				    		    	<a href="service-detailed.html">Service 1</a>
				    		    	<div class="dd">
				    		    		<ul>
				    		    		    <li><a href="service-detailed.html">Service 1.1</a></li>
				    		    		    <li><a href="service-detailed.html">Service 1.2</a></li>
				    		    		    <li><a href="service-detailed.html">Service 1.3</a></li>
				    		    		    <li><a href="service-detailed.html">Service 1.4</a></li>
				    		    		    <li><a href="service-detailed.html">Service 1.5</a></li>
				    		    		</ul>
				    		    	</div>
			    		    	</li>
				    		    <li>
				    		    	<a href="service-detailed.html">Service 2</a>
				    		    	<div class="dd">
				    		    		<ul>
				    		    		    <li><a href="service-detailed.html">Service 2.1</a></li>
				    		    		    <li><a href="service-detailed.html">Service 2.2</a></li>
				    		    		    <li><a href="service-detailed.html">Service 2.4</a></li>
				    		    		    <li><a href="service-detailed.html">Service 2.5</a></li>
				    		    		</ul>
				    		    	</div>
			    		    	</li>
				    		    <li>
				    		    	<a href="service-detailed.html">Service 3</a>
				    		    	<div class="dd">
				    		    		<ul>
				    		    		    <li><a href="service-detailed.html">Service 3.1</a></li>
				    		    		    <li><a href="service-detailed.html">Service 3.2</a></li>
				    		    		    <li><a href="service-detailed.html">Service 3.5</a></li>
				    		    		</ul>
				    		    	</div>
			    		    	</li>
				    		    <li>
				    		    	<a href="service-detailed.html">Service 4</a>
				    		    	<div class="dd">
				    		    		<ul>
				    		    		    <li><a href="service-detailed.html">Service 4.1</a></li>
				    		    		    <li><a href="service-detailed.html">Service 4.2</a></li>
				    		    		    <li><a href="service-detailed.html">Service 4.3</a></li>
				    		    		    <li><a href="service-detailed.html">Service 4.4</a></li>
				    		    		    <li><a href="service-detailed.html">Service 4.5</a></li>
				    		    		</ul>
				    		    	</div>
			    		    	</li>
				    		    <li>
				    		    	<a href="service-detailed.html">Service 5</a>
				    		    	<div class="dd">
				    		    		<ul>
				    		    		    <li><a href="service-detailed.html">Service 5.1</a></li>
				    		    		    <li><a href="service-detailed.html">Service 5.2</a></li>
				    		    		    <li><a href="service-detailed.html">Service 5.3</a></li>
				    		    		    <li><a href="service-detailed.html">Service 5.4</a></li>
				    		    		    <li><a href="service-detailed.html">Service 5.5</a></li>
				    		    		</ul>
				    		    	</div>
			    		    	</li>
				    		</ul>
				    	</div>
			    	</li>
				    <li>
				    	<a href="projects.html">Projects</a>
				    	<div class="dd">
				    		<ul>
	    		    		    <li>
	    		    		    	<a href="projects.html">Category 1</a>
									<div class="dd">
										<ul>
		    		    		    	    <li><a href="project-detailed.html">Project 1</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 2</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 3</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 4</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 5</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 6</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 7</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 8</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 9</a></li>
		    		    		    	    <li><a href="projects.html">View All</a></li>
		    		    		    	</ul>
									</div>
    		    		    	</li>
	    		    		    <li>
	    		    		    	<a href="projects.html">Category 2</a>
	    		    		    	<div class="dd">
										<ul>
		    		    		    	    <li><a href="project-detailed.html">Project 1</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 2</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 3</a></li>
		    		    		    	    <li><a href="projects.html">View All</a></li>
		    		    		    	</ul>
									</div>
    		    		    	</li>
	    		    		    <li>
	    		    		    	<a href="projects.html">Category 3</a>
	    		    		    	<div class="dd">
										<ul>
		    		    		    	    <li><a href="project-detailed.html">Project 1</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 2</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 3</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 4</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 5</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 6</a></li>
		    		    		    	    <li><a href="projects.html">View All</a></li>
		    		    		    	</ul>
									</div>
    		    		    	</li>
	    		    		    <li>
	    		    		    	<a href="projects.html">Category 4</a>
	    		    		    	<div class="dd">
										<ul>
		    		    		    	    <li><a href="project-detailed.html">Project 1</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 2</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 3</a></li>
		    		    		    	    <li><a href="project-detailed.html">Project 4</a></li>
		    		    		    	    <li><a href="projects.html">View All</a></li>
		    		    		    	</ul>
									</div>
    		    		    	</li>
	    		    		    <li><a href="projects.html">View All</a></li>
	    		    		</ul>
				    	</div>
			    	</li>
				    <li><a href="blog.html">Blog</a></li>
				    <li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- End Logo + Navigation -->




<%= yield %>





<!-- Footer -->
<div id="footer">
	<div class="shell cols">
		<div class="cl">&nbsp;</div>
		
		<!-- Col -->
		<div class="col col3">
			<h5>About</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam libero nec nisl tincidunt faucibus. Aliquam erat volutpat.</p>
			<p>Ut in quam eu lorem mollis varius a ut risus. Sed est augue, consectetur nec hendrerit eu, laoreet vel magna. Fusce urna nisi, faucibus eu accumsan et, dictum sed nibh.</p>
		</div>
		<!-- End Cols -->
		
		<!-- Col -->
		<div class="col col3">
			<h5>Blogroll</h5>
			<ul class="fixlast gray-links">
			    <li><a href="blog-detailed.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
			    <li><a href="blog-detailed.html">Ut in quam eu lorem mollis varius a ut risus</a></li>
			    <li><a href="blog-detailed.html">Duis aliquam libero nec nisl tincidunt faucibus. Aliquam erat volutpat.</a></li>
			    <li class="last"><a href="blog-detailed.html">Fusce urna nisi, faucibus eu accumsan et, dictum sed nibh.</a></li>
			</ul>
		</div>
		<!-- End Cols -->
		
		<!-- Col -->
		<div class="col col3">
			<h5>Tag Cloud</h5>
			<div class="tag-cloud">
				<a href="#" class="tag-size1">Ut in quam</a>
				<a href="#" class="tag-size2">eu lorem mollis</a>
				<a href="#" class="tag-size5">varius a ut risus</a>
				<a href="#" class="tag-size3">Sed est augue</a>
				<a href="#" class="tag-size4">consectetur nec hendrerit eu</a>
				<a href="#" class="tag-size6">laoreet vel magna</a>
				<a href="#" class="tag-size7">Fusce urna nisi</a>
				<a href="#" class="tag-size2">faucibus eu accumsan et</a>
				<a href="#" class="tag-size1">dictum sed nibh</a>
			</div>
		</div>
		<!-- End Cols -->
		
		<!-- Col -->
		<div class="col-right col3">
			<h5>Latest Tweets</h5>
			<ul class="fixlast">
			    <li>
			    	<span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
			    	<a href="http://chocotemplates.com">chocotemplates.com</a>
			    	<small>about 15 hours ago</small>
			    </li>
			    <li>
			    	<span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
			    	<a href="http://chocotemplates.com">chocotemplates.com</a>
			    	<small>about 15 hours ago</small>
			    </li>
			    <li class="last">
			    	<span>Link: Andy Awesome, lovely pop artillustration on canvas</span>
			    	<a href="http://chocotemplates.com">chocotemplates.com</a>
			    	<small>about 15 hours ago</small>
			    </li>
			</ul>
		</div>
		<!-- End Cols -->
		
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- End Footer -->

<!-- Footer Nav -->
<div id="after-footer">
	<div class="shell">
		<p class="left">
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="services.html">Services</a>
			<a href="projects.html">Projects</a>
			<a href="blog.html">Blog</a>
			<a href="contact.html">Contact</a>
			<a href="templates.html">Templates</a>
		</p>
		<p class="right">&copy; OnFocus. Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a></p>

	</div>
</div>
<!-- Footer Nav -->
</body>
</html>